NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
NODE_ENV=development
DATABASE_URL="mysql://root:password@localhost:3306/singitronic_nextjs?sslmode=disabled"
NEXTAUTH_SECRET=replace-with-nextauth-secret
NEXTAUTH_URL=http://localhost:3000
GAME_API_KEY=replace-with-game-api-key
CRON_SECRET=
NEXT_PUBLIC_SKIP_OTP=false
SKIP_OTP=false
